
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$impact: Impact, Charcoal, sans-serif;
$lato: 'Lato', sans-serif;
$lucidaGrande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$monospace: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
$roboto: 'Roboto', 'Helvetic Neue', Helvetica, Arial;
$tahoma: Tahoma, Geneva, sans-serif;
$timesNewRoman: "Times New Roman", Times, serif;
$trebuchet: "Trebuchet MS", Helvetica, sans-serif;
$verdana: Verdana, Geneva, sans-serif;

// @font-face {
//     font-family: "";
//     src: url("../fonts/");
// }
